
textarea.flask-pagedown-input {
    height:8em;
}
div.flask-pagedown-preview {
    margin: 0px 0px 10px 0px;
    border: 1px dotted green;
    padding: 5px;
    background-color: whitesmoke;
}
div.flask-pagedown-preview h1 {
    font-size: 100%;
}
div.flask-pagedown-preview h2 {
    font-size: 100%;
}
hr.colored {
    height: 1px;
    border: 1px dotted darkorange;
}
hr.top {
    height: 1px;
    margin: 0px 0px 2px 0px;
    color: green;
    background-color: green;
}
.grid-list {
    margin: 0px 0px 10px 0px;
    width: 75px;
    float: left;
    display: inline;
}
.grid-list dt {
    margin: 0;
    width: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
}
.grid-list dd {
    margin: 0;
    width: 55px;
    overflow: hidden;
    text-align: center;
}