<!--include connect with panel in-->
{% if not current_user.is_authenticated %}
<div>
    <div class="text-left" style="color:darkcyan">
        <h4>Connect With</h4>
    </div>
    <hr>
    <div>
        <li><a href={{url_for('auth.login', server_name='Google')}}>
            <b style="font-size:large">Google</b>
        </a></li>
        <li><a href={{url_for('auth.login', server_name='Facebook')}}>
            <b style="font-size:large">Facebook</b>
        </a></li>
        <li><a href={{url_for('auth.login', server_name='Twitter')}}>
            <b style="font-size:large">Twitter</b>
        </a></li>
    </div>
</div>
<br>
{% endif %}