<!--include list of readuplist in-->
<div class="media">
    <div class="media-left media-middle">
        <img src="{{post.post_cover or url_for('static',filename='pic/dpc.svg')}}" class="media-object img-circle" style="width:80px; height:80px" alt="ListTheme">   
    </div>
    <div class="media-body">
        <h3 class="media-heading">
            <a href={{url_for('main.post', id=post.id)}}>{{post.title}}</a>
        </h3>
        <div>
            {% set post_intro = post.intro_html or post.intro %}
            <p>{{post_intro|safe|truncate(256,False,' ...',5)}}</p>
        </div>
        <div>
            <a href={{url_for('main.post', id=post.id)}}>...more
            &nbsp;|&nbsp;including {{post.items.count()}} items
            <!-- &nbsp;|&nbsp;by {{post.creator.nickname or post.creator.name}} -->
            </a>
        </div>    
    </div>
    <hr>
</div>