
<div id="quickmd">
<h5>Emphasis</h5>
<pre>
**<strong>bold</strong>**
*<em>italics</em>*
</pre>
<h5>Headers</h5>
<pre>
### Big header
#### Medium header
##### Small header
</pre>
<h5>Lists</h5>
<pre>
* Generic list item
* Generic list item
1. Num_ed list item
2. Num_ed list item
</pre>
<h5>Links</h5>
<pre>
[Text](http://www.readup.tips)
</pre>
<h5>Quotes</h5>
<pre>
&gt; This is a quote.
&gt; multiple lines!
</pre>
<h5>Display code</h5>
<pre>
`import this`

<em>Or multiple lines...</em>

```
import this
import flask
```
</pre>
<h5>Images</h5> 
<pre>
![](http://www.readup.tips/eg.jpg)
</pre>
<p>Try <a href="http://imgur.com/" target="_blank">Imgur</a> to upload image</p>
</div>