<!--include comments in-->
{% for commt in commts %}
<div class="media">        
    <div class="media-left media-top">
        <img src="{{commt.creator.avatar or url_for('static', filename='pic/profile.svg')}}" \
          class="media-object" style="width:40px; height:40px" alt="avatar">
    </div>
    <div class="media-body">
        <div style="background-color:whitesmoke">
            <mark>{{loop.revindex}}</mark>&nbsp;|&nbsp;By 
            <a href={{url_for('main.profile', id=commt.creator.id)}}>
                {{commt.creator.nickname or commt.creator.name}}
            </a> 
            {% if commt.post %}
            On Readup List 
            <a href={{url_for('main.post', id=commt.post.id)}}>
                {{commt.post.title|truncate(30,True)}}
            </a>
            {% endif %}
            {% if commt.item %}
            From item 
            <a href={{url_for('main.item', id=commt.item.id)}}>
                {{commt.item.title|truncate(30,True)}}
            </a>
            {% endif %}
            {% if commt.demand %}
            For Request
            <a href={{url_for('main.demand', id=commt.demand.id)}}>
                {{commt.demand.body|truncate(30,True)}}
            </a>
            {% endif %}
            {% if commt.review %}
            On Review
            <a href={{url_for('main.review', id=commt.review.id)}}>
                {{commt.review.heading|truncate(30,True)}}
            </a>
            {% endif %}
             &nbsp;|&nbsp; {{ moment(commt.timestamp).format("MMM Do YYYY")}}
             
             {% if current_user.role.duty == "moderator" %}
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
             {% if not commt.disabled %}
             <span><a href={{url_for('main.disable_comment', id=commt.id)}} target="_blank">Disable</a></span>
             {% else %}
             <span><a href={{url_for('main.enable_comment', id=commt.id)}} target="_blank">Enable</a></span>
             {% endif %}
             {% endif %} 
        </div>
        <br>
        <div style="font-size:medium">
            {% if not commt.disabled %}
            {% set commt_body = commt.body_html or commt.body %}      
            {{commt_body|safe}}
            {% else %}
            <p>The Content has been disabled by a moderator</p>
            {% endif %}
        </div>
    </div>
    <hr>   
</div>
{% endfor %}