{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Fetch Item Info {% endblock title %}

{% block content %}
<div>
    <h4>Fetch Item information before adding manually</h4>
    {% if post %}
    <p>for Readup List&nbsp;&nbsp;<a href={{url_for('main.goback_edit', id=post.id)}} title="Go back will give up edit">{{post.title|truncate(50)}}</a></p>
    {% endif %}
</div>
<hr>
<div>
    <form method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.checker)}}
        {{wtf.form_field(form.submit,id="fetch")}}
    </form>
    <br>
    <p style="color:forestgreen; display:none" id="process"> Please wait a few seconds on processing...</p>
    <script>
    $(document).ready(function(){
        $("#fetch").click(function(){
            $("#process").show();
        });
    });
    </script>
    <br>
    <h4>or You can
        {% if post %}<a href={{url_for('main.check_to_add',id=post.id)}}> {% else %}<a href={{url_for('main.new_item')}}>{% endif %} add the item information manually</a>
    </h4>
</div>
<hr>
<h5>Tips</h5>
<p>
1. Here you can input ISBN-13 to query item information from database or a valid url to fetch information via a spider;
<br>
2. Support <b style="color:darkorange">ISBN-13</b> and <b style="color:darkorange">Amazon url</b> for Book. 
Limited support <b style="color:orange">Coursera url, edx url</b>, 
and little info can be fetched by other url;
<br>
3. There may be some mistake/slip in fetched information, Please have a check and modify it; 
<br>
4. Please enable cookies, otherwise may not function properly;
<br>
5. It may fail, cannot fetch any information sometimes, sorry for that, thus please back and try again or input the item info manually.
<br>
6. Bug report or suggestion is ALWAYS appreciated   
</p>
{% endblock content %}