{% extends "layout0.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Edit Epilog for Readup List {% endblock title %}

{% block content %}
<div>
    <h4>Edit Epilog</h4>
    <p>For Readup List &nbsp; <a href={{url_for('main.goback_edit', id=post.id)}} title="Go back will give up edit">{{post.title|truncate(50)}}</a></p>
    <hr>
    <div>
        <form class="form" method="POST">
            {{form.hidden_tag()}}
            {{wtf.form_field(form.epilog)}}
            {{wtf.form_field(form.submit)}}
        </form>
    </div>
    <hr>
</div>

{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}

{% block rightside %}
<a target="_blank" href={{url_for('main.about')}}#markdown>Markdown Quick Reference</a>
{% endblock rightside %}