{% extends "layout1.html" %}
{% block title %} {{user.nickname or user.name}} 's Profile {% endblock title %}

{% block content %}
<!--Show name -->
<div class="row">
    <div class="col-md-6 text-left">
        <b style="font-size:x-large">{{user.nickname or user.name}}</b>
    </div>
    <div class="col-md-6 text-right">
        <a href={{url_for('main.following',id=user.id)}} target="_blank">
            {{user.followed.count()}}
        </a> &nbsp;Following&nbsp;
        <a id="foN" href={{url_for('main.follower',id=user.id)}} target="_blank">
            {{user.followers.count()}}
        </a> &nbsp;Followers&nbsp;
        {% if user != current_user %}
        <a id="fo" class="btn btn-default"> 
        {% if current_user.is_following(user) %} 
            Unfollow 
        {% else %} 
            Follow 
        {% endif %} 
        </a> 
        {% endif %}
        <!--script start-->
        <p id="foUrl" style="display:none">{{url_for('main.countfollow', id=user.id)}}</p>
        <script>
        $(document).ready(function(){
            $("a#fo").click(function(){
                $.get($("p#foUrl").text(), function(data){
                var old = $("#fo").text();
                    $("a#fo").text(function(){
                        if (old == "Unfollow"){
                            return "Follow" ;
                        } else {
                            return "Unfollow"; 
                        }
                    });
                    $("a#foN").text(data);
                });
            });
        });   
        </script>
        <!--script end-->
    </div>
</div>
<hr class="top" /> 

<!--Show doing -->
{% if count_2 > 0 %}
<div id="doing">
    <h4 class="bookmark">-- Working On --&nbsp;&nbsp;<b>({{count_2}})</b></h4>
    <hr>
    {% for item in doings %}
        {% include '_show_item.html' %}
    <hr>
    {% endfor %}

    <div class="text-right">
        {% if count_2 > m %}
        <a href={{url_for('main.moredoing',id=user.id)}} target="_blank">... More</a>
        {% endif %}
    </div>
    <br>
</div>
{% endif %}

<!--Show todo -->
{% if count_1 > 0 %}
<div id="todo">
    <h4 class="bookmark">-- Scheduled --&nbsp;&nbsp;<b>({{count_1}})</b></h4>
    <hr>
    {% for item in todos %}
        {% include '_show_item.html' %}
    <hr>
    {% endfor %}

    <div class="text-right">
        {% if count_1 > m %}
        <a href={{url_for('main.moreschedule',id=user.id)}} target="_blank">... More</a>
        {% endif %}
    </div>
    <br>
</div>
{% endif %}

<!--Show list -->
<div id="created">
    <h4 class="bookmark">-- Created --&nbsp;&nbsp;<b>({{post_count}})</b></h4>
    <hr>
    {% for post in posts %}
        {% include '_post_list.html' %}
    {% else %}
        <p>Have not created any List.&nbsp;
            {% if current_user == user %}
            Start to <a href="{{url_for('main.create')}}">Create Now</a>
            {% endif %}
        </p>
    {% endfor %}

    <div class="text-right">
        {% if post_count > m %}
        <a href={{url_for('main.morepost',id=user.id)}} target="_blank">... More</a>
        {% endif %}
    </div>
    <br>
</div>

<!--Show staring -->
{% if star_count > 0 %}
<div id="staring">
    <h4 class="bookmark">-- Staring --&nbsp;&nbsp;<b>({{star_count}})</b></h4>
    <hr>
    {% for post in star_posts %}
        {% include '_post_list.html' %}
    {% endfor %}

    <div class="text-right">
        {% if star_count > m %}
        <a href={{url_for('main.morestar',id=user.id)}} target="_blank">... More</a>
        {% endif %}
    </div>
    <br>
</div>
{% endif %}

<!--Show reviews-->
{% if review_count > 0 %}
<div id="review">
    <h4 class="bookmark"> -- Reviews --&nbsp;&nbsp;<b>({{review_count}})</b></h4>
    <hr>
    {% for review in myreviews %}
    {% include '_review_list.html' %}
    {% endfor %}

    <div class="text-right">
        {% if review_count > m %}
        <a href={{url_for('main.morereview_u',id=user.id)}} target="_blank">... More</a>
        {% endif %}
    </div>
</div>
{% endif %}

<!--Show done -->
{% if count_3 > 0 %}
<div id="done">
    <h4 class="bookmark">-- Have Done --&nbsp;&nbsp;<b>({{count_3}})</b></h4>
    <hr>
    {% for item in dones %}
        {% include '_show_item.html' %}
    <hr>
    {% endfor %}

    <div class="text-right">
        {% if count_3 > m %}
        <a href={{url_for('main.moredone',id=user.id)}} target="_blank">... More</a>
        {% endif %}
    </div>
    <br>
</div>
{% endif %}

<!--Show comments-->
{% if commt_count > 0 %}
<div id="comment">
    <button id="showcomment" class="btn btn-default">
        -- More Comments --&nbsp;&nbsp;<b>({{commt_count}})</b>
    </button>
    <script>
    $(document).ready(function(){
        $("#showcomment").click(function(){
            $("#mycomments").toggle();
        });
    });
    </script>
</div>
<br>
<div id="mycomments" style="display:none">
    <hr>
    {% for commt in mycomments %}
    <div style="background-color:seashell">
        --On
        {% if commt.post %}
        Readup List
        <a href={{url_for('main.post', id=commt.post.id)}}>
            {{commt.post.title|truncate(35,True)}}
        </a>
        {% endif %}
        {% if commt.item %}
        item
        <a href={{url_for('main.item', id=commt.item.id)}}>
            {{commt.item.title|truncate(35,True)}}
        </a>
        {% endif %}
        {% if commt.demand %}
        Request
        <a href={{url_for('main.demand', id=commt.demand.id)}}>
            {{commt.demand.body|truncate(35,True)}}
        </a>
        {% endif %}
        {% if commt.review %}
        Review
        <a href={{url_for('main.review', id=commt.review.id)}}>
            {{commt.review.heading|truncate(35,True)}}
        </a>
        {% endif %}        
        &nbsp;|&nbsp;{{moment(commt.timestamp).format("MMM Do YYYY")}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
        {% if user == current_user %}
        <span>
            <a data-toggle="modal" href="#del{{commt.id}}">delete</a>
        </span>
        <!-- Modal for delete comment confirm -->
        <div class="modal fade" id="del{{commt.id}}" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirm Delete The Comment?</h4>
                    </div>
                    <div class="modal-body">
                        <a href={{url_for('main.del_comment', id=commt.id)}}>
                           Yes Delete
                        </a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No, Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Modal for delete comment confirm -->
        {% endif %}        
    </div>
    <br>
    <div style="font-size:medium">
        {% set commt_body = commt.body_html or commt.body %} 
        {{commt_body|safe}}
    </div>
    <hr> 
    {% endfor %}

    <div class="text-right">
        {% if commt_count > m %}
        <a href={{url_for('main.morecomment_u',id=user.id)}} target="_blank">... More</a>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock content %}

{% block rightside %}
<div>
    <div class="row">
        <div class="col-md-5 text-left"><img src="{{user.avatar or url_for('static', filename='pic/profile.svg')}}" style="width:120px" alt="avatar"></div>
        <div class="col-md-7">
            <br>
            <b style="color:cadetblue"> From</b> &nbsp;{{user.location or 'Unknown' }}
            <p> Joined: {{moment(user.timestamp).format("MMM YYYY")}}</p>
            ~~ &nbsp;<a href={{user.links or url_for('main.profile',id=user.id ,_anchor='created')}} target="_blank">... More ...</a>&nbsp; ~~
        </div>
    </div>
    <br>
    <div style="background-color:aliceblue; padding:4px;">
        <b style="color:cadetblue"> About Me</b><br>
        {{user.about_me or ' no bio yet'}}&nbsp; ... 
        {% if current_user == user %}<a href={{url_for('main.edit_profile')}}>edit</a>{% endif %}
    </div>
</div>
<hr>
{% include 'activity.html' %}

{% endblock rightside %}