{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Writing Article {% endblock title %}

{% block content %}
<div>
    <h4>Writing Article</h4>
</div>
<hr>
<div>
    <form class="form" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.title)}}
        {{wtf.form_field(form.figure)}}
        {{wtf.form_field(form.body)}}
        {{wtf.form_field(form.submit)}}
    </form>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}

{% block rightside %}
<a target="_blank" href={{url_for('main.about')}}#markdown>Markdown Quick Reference</a>
{% endblock rightside %}