<!--include connect with panel in-->
{% if not current_user.is_authenticated %}
<div>
    <div class="text-left" style="color:lightseagreen">
        <h4>Connect With</h4>
    </div>
    <hr>
    <div>
        <li><a href={{url_for('auth.login', server_name='Google')}}>
            <p style="font-size:larger">Google</p>
        </a></li>
        <li><a href={{url_for('auth.login', server_name='Facebook')}}>
            <p style="font-size:larger">Facebook</p>
        </a></li>
        <li><a href={{url_for('auth.login', server_name='Twitter')}}>
            <p style="font-size:larger">Twitter</p>
        </a></li>
    </div>
</div>
{% endif %}