<!--include review list in-->
<div class="media">
    <div class="media-left media-top">
        <img src="{{review.creator.avatar or url_for('static', filename='pic/profile.svg')}}" \
         class="media-object" style="width:40px; height:40px" alt="avatar">   
    </div>
    <div class="media-body">
        <h3 class="media-heading">
            <a href={{url_for('main.review', id=review.id)}}>{{review.heading}}</a>
        </h3>
        <div>
            <p style="background-color:whitesmoke">
                By <a href={{url_for('auth.profile', id=review.creator.id)}}>
                    {{review.creator.nickname or review.creator.name}}
                </a>
                &nbsp;|&nbsp;{{moment(review.timestamp).format("MMM Do YYYY")}} 
            </p>
        </div>
        <div>
            {% set review_body = review.body_html or review.body %}
            <p>{{ review_body|safe|truncate(256,False,' ...',5) }}</p>
        </div>
        <div>
            <a href={{url_for('main.review', id=review.id)}}>...more</a>
        </div>    
    </div>
    <hr>
</div>