<!--include share widgets in-->
<div class="text-right">

<!--Twitter share-->
<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" style="height:20px">
  Tweet
</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!--G+ share-->
<a class="g-plus" data-action="share" style="height:20px"></a>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!--facebook share-->
<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;" class="btn btn-primary btn-xs" style="height:20px">
  Share
</a>

</div>

<!-why fb-share cannot verticle-align??, need to tackle-->