<!--include comments in-->

<div class="media">        
    <div class="media-left media-top">
        <img src={{commt.creator.avatar}} class="media-object" style="width:40px" alt="avatar">
    </div>
    <div class="media-body">
        <p style="background-color:whitesmoke">
            By 
            <a href={{url_for('auth.profile', id=commt.creator.id)}}>
                {{commt.creator.nickname or commt.creator.name}}
            </a> 
            From 
            {% if commt.post %}
            post 
            <a href={{url_for('main.post', id=commt.post.id)}}>
                {{commt.post.title|truncate(30,True)}}
            </a>
            {% endif %}
            {% if commt.item %}
            item 
            <a href={{url_for('main.item', id=commt.item.id)}}>
                {{commt.item.title|truncate(30,True)}}
            </a>
            {% endif %}
            {% if commt.demand %}
            request
            <a href={{url_for('main.demand', id=commt.demand.id)}}>
                {{commt.demand.body|truncate(30,True)}}
            </a>
            {% endif %}
             &nbsp;|&nbsp; {{ moment(commt.timestamp).format("MMM Do YYYY")}}
        </p>
    
        <div style="font-size:medium">
            {% if not commt.disabled %}           
            {{commt.body|safe}}
            {% else %}
            <p>The Content has been disabled by a moderator</p>
            {% endif %}
        </div>

        <div class="text-right">
            <!--<span class="btn">{{commt.vote or 0}}&nbsp;
                <a href={{url_for('main.upvote', id=commt.id)}}>upvote</a>
            </span>-->

            {% if current_user.role.duty == "moderator" %}
            {% if not commt.disabled %}
            <span><a href={{url_for('main.disable_comment', id=commt.id)}} target="_blank">Disable</a></span>
            {% else %}
            <span><a href={{url_for('main.enable_comment', id=commt.id)}} target="_blank">Enable</a></span>
            {% endif %}
            {% endif %}
        </div>

    </div>
    <hr>   
</div>
