<!--include users in follow, challengers-->

<div class="media">        
    <div class="media-left media-top">
        <img src="{{user.avatar or url_for('static', filename='pic/profile.svg')}}" \
         class="media-object" style="width:30px; height:30px" alt="avatar">
    </div>
    <div class="media-body">
        <a href={{url_for('main.myclips', id=user.id)}} title="See Clips">
            >>&nbsp;
        </a>
        &nbsp;
        <a href={{url_for('auth.profile', id=user.id)}}>
            {{user.nickname or user.name}}
        </a>
    </div>
<br>
</div>
