{% extends 'layout.html' %}

{% block title %} About {% endblock title %}


{% block mainbody %}
<div class="container">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" style="font-size:medium">
        <h3 id="privacy">Privacy Policy</h3>
        <div> 
            You can use your SNS Account: Google or Facebook or Twitter account to login.
            <br>
            we will ask for your permission to collect and store your SNS user ID and 
            profile information such as SNS username, email, profile image, which provide you 
            with personalized access to the service.
            <br>
            And the username, profile image will be listed publicly. 
            <br>
            Any logined user can share content, which is public by default, 
            maybe viewed all around the world instantly.
            <br>
            <br>
            We will never collect or store any private information other than Profile Information.
            <br> 
            We won't post any content to your SNS.
            <br>
            <br>
            We don't use cookies to collect data. However, 
            some Services may not function properly if you disable cookies.
            You can set web browsers to accept cookies automatically or enable cookies on demand. 
        </div>

        <h3 id="about">About</h3>
        <div> 
            Readup.Tips' mission is to share and grow the knowledge about how to grow 
            one's knowledge. 
            <br>
            The mission based on the assumptions as following:
            <br>
            1, The best way to grow one's knowledge is reading, reading books, documentary,
            atlas, online course, etc., more accurate and systematic;
            <br>
            2, Bias, standpoint and perspective of the author, is inevitable and resonable for each book,
            to read up on a subject, we should go throuth a list of books by different authors;
            <br>
            3, Reading is costly, time or money, and there are huge number of books on each specific subject, 
            selecting a right list is important.
            <br><br>
            Let the books (or documentary, online-course) and readers find each other on help from who have read them. 
            Once master a knowledge, you grow. Then please thinking that the experience or
            road map of how you learn is also a huge treasure, which book or course or a list of books is better? 
            you should have many ideas, So share them, the rest of the world can benifit from your sharing, 
            You can also benefit from other's sharing.
            <br>
            You can also consider it as a tool to collect or share your reading list/ to-read list/ have-read list.
        </div>
            
        <h3 id="more">More</h3>
        <div>
            Currently, it is a one-man project. 
            <br> 
            <br>
            The service may fail, sorry for any inconvenience.please kindly help report the bugs to us 
            via readup.tips#gmail.com (# to @), We will fix it ASAP. 
            <br>
            BTW, You can email us your article and approval, We can post it on behalf of you. 
            <br>
        </div>
              
        <h3 id="terms">Terms</h3>
        <div>
            Have a Nice Time
            <br>
            The Creators/users retain ownership of all Content submitted to the service AND are responsible for 
            any Content provided, including compliance with applicable laws, rules, and regulations. 
            <br>
            If you believe that your content has been used by anyone on this site
            in a way that constitutes copyright infringement, 
            Please contact us via readup.tips#gmail.com (# to @) to claim. 
        </div>
                    
        <h3 id="contact">Contact</h3>
        <p>
            Contact us via mail readup.tips#gmail.com <br>
            for bug report, suggestion, copyright claim, etc.
        </p>

        <h3 id="thanks">Thanks</h3>
        <p>
            The service is powered by amazing <a href="https://github.com/pallets/flask">Flask</a> 
            and other extensions.
            Thanks for the builders' great work.
            <br>
            ---- <a href="https://github.com/danloh/rut">Here</a>
        </p>
             
    </div>
  </div>
</div>
{% endblock mainbody %}

