{% extends 'layout.html' %}

{% block title %} About {% endblock title %}


{% block mainbody %}
<div class="container">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-2">
        <h3 id="about">About</h3>
        <div> 
            Readup.Tips' mission is to share and grow the knowledge about how to grow 
            one's knowledge. 
            <br>
            The mission based on the assumptions as following:
            <br>
            1, The best way to grow one's knowledge is reading, reading books, documentary,
            atlas, online course, etc., which are more accurate, more systematical;
            <br>
            2, Bias, standpoint and perspective of the author, is inevitable and resonable for each book,
            to read up on a subject, we should go throuth a list of books by different authors;
            <br>
            3, Reading is costly, time or money, and there are huge number of books on each specific subject, 
            selecting a right list is important.
            <br>
            Let the books (or documentary, online-course) and readers find each other on help from who have read them. 
            Once master a knowledge, you grow. Then please thinking that the experience or
            road map of how you learn is also a huge treasure, which book or course or a list of books is better? 
            you should have many ideas, So share them, the rest of the world can benifit from your sharing, 
            Of course you can also benefit from other's sharing.
        </div>
            
        <h3 id="more">More</h3>
        <div>
            Currently, it is a one-man project. 
            <br>
            Just using your Facebook or Google account to login. 
            <br>
            The service may fail, sorry for any inconvenience.
            <br>
            please kindly help report the bugs to me via readup.tips#gmail.com (# to @), I will fix it ASAP. 
            <br>
            BTW, You can email me your article and approval, I can post it on behalf of you. 
            <br>
        </div>
              
        <h3 id="terms">Terms</h3>
        <div>
            Have a Nice Time
        </div>
                    
        <h3 id="contact">Contact</h3>
        <p>
            Contact me via mail readup.tips#gmail.com <br>
            for bug report or suggestion or cooperation
        </p>

        <h3 id="thanks">Thanks</h3>
        <p>
            The service is powered by amazing Flask and other extensions.
            Thanks for the builders' great work.
        </p>
             
    </div>
  </div>
</div>
{% endblock mainbody %}

