{% extends 'layout.html' %}

{% block title %} About {% endblock title %}


{% block mainbody %}
<div class="container">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-2" style="font-size:medium">
        <h2 id="terms">Terms of Service</h2>
        <div>
            Thank you for using Readup.Tips('the Service').<br> Your access to and use of Readup.tips is conditioned on your acceptance 
            of and compliance with the Terms of service. The terms of service may change over time. 
        </div>

        <h3 id="privacy">Privacy Policy</h3>
        <div> 
            You can log in with your SNS Account: Google or Facebook or Twitter account to use the Service.
            By using the Service, you are agreeing to provide permission for us to collect and store your SNS user ID and 
            profile information such as SNS username, email, profile image, which provide you with personalized access to the Service. The username and profile image will be public. 
            <br>
            Any logged-in user can share, create content, which is public by default, maybe viewed all around the world instantly.
            <br><br>
            We won't collect or store any private information other than Profile Information.
            <br> 
            We won't post any content to your SNS without your permission.
            <br><br>
            We don't use cookies to collect data. However, some services may not function properly if you disable cookies.
            You can set web browsers to accept cookies automatically or enable cookies on demand. 
            <br><br>
            You can stop using the Service at any time, we’ll be sorry to see you go. The content belongs to you stays yours.  
        </div>

        <h3 id="copyright">Copyright</h3>
        <div>
            The Creators of content, who create, submit, or otherwise make content available on the Service, retain ownership of any intellectual property rights that creators hold in that content AND are responsible for any Content provided, including compliance with applicable laws, rules, and regulations. 
            <br><br>
            Like many websites, By creating, submitting Content on or through the Service, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, create derivative works from, publish, transmit,display and distribute such Content in any and all media or distribution methods (now known or later developed).This license continues even if you stop using the Service. Make sure you have the necessary rights to grant us this license for any content that you submit to the Service.
            <br><br>
            If you believe that your content has been used on the Service in a way that constitutes copyright infringement, Please contact us to claim via readup.tips@gmail.com. 
        </div>
        <hr>
        <h2 id="about">About</h2>
        <div> 
            Readup.Tips' mission is to share and grow the knowledge about how to grow one's knowledge. 
            The mission based on the assumptions as follows:
            <br>
            1. The best way to grow one's knowledge is reading, reading books, documentary,
            atlas, online course, etc., more accurate and systematic;
            <br>
            2. Bias, standpoint and perspective of the author, is inevitable and reasonable for each book,
            to read up on a subject, we should go through a list of books by different authors;
            <br>
            3. Reading is costly, time or money, and there are huge number of books on each specific subject, 
            selecting a right list is important.
            <br><br>
            Let the books (or documentary, online-course) and the readers find each other with the help from who have read them.
            <br> 
            We believe that the experience or roadmap about how you learned something is also a huge treasure: which book or 
            course or a list of books is better? you should have many ideas, So post to share them, the rest of the world can 
            benefit from your sharing, you can also benefit from other's sharing.
            <br>
            You can also consider it as a tool to collect or share your reading list/ to-read list/ have-read list.
            <br><br>
            A post is an item list, including some items like book, video or online resource and some reading tips for each item.
            You can star it if you find interesting, thus you create a bookmark for easier access, appreciate the creators' work and 
            show your taste.
            <br><br>
            You can take a items list(post) as challenge of the year or month or week or even of a day. there are some services to help you track your challenge. 
            <br>
            You can set a deadline, and excerpt clips from a book, post the spark of thought from any item to track your daily process, and review it when you get an item done. 
            <br><br>
            If you do not find something interesting, you can send a request on any subject, like 'I want to learn Python, which books or course is good?', and invite some experts to response, to get more response, you can share it to your SNS.
            <br><br>
            We are constantly improving the Service, may add or remove functionalities or features. We appreciate any suggestion,  please contact us via readup.tips@gmail.com
        </div>
            
        <h3 id="more">More</h3>
        <div>
            Currently, it is a one-man project. 
            <br> 
            <br>
            The Service may fail, sorry for any inconvenience.please kindly help report the bugs to us 
            via readup.tips@gmail.com, We will fix it ASAP. 
            <br>
            BTW, You can email us your article and approval, We can post it on behalf of you. 
            <br>
        </div>
                        
        <h3 id="contact">Contact</h3>
        <p>
            Contact us via mail <a href="mailto:readup.tips@gmail.com">readup.tips@gmail.com</a> <br>
            for the bug report, suggestion, copyright claim, etc.
        </p>

        <h3 id="thanks">Thanks</h3>
        <p>
            The Service is powered by <a href="https://github.com/pallets/flask">Flask</a> 
            and other extensions.
            Thanks for the builders' great work.
            <br>
            ---- <a href="https://github.com/danloh/rut">Here</a>
        </p>
             
    </div>
  </div>
</div>
{% endblock mainbody %}

