<!--include activities in-->
<h4 style="color:green">What's happening .....</h4>
<hr>
{% for ev in evs %}
{% set content = ev.action_content %} <!--warning: fragile -->
{% set action = ev.action %}
{% if ref %}
<div class="row">
    <div class="col-md-10 text-left">
        {% set actor = ev.actor %}
        <a href={{url_for('main.profile', id=actor.id)}}>{{actor.nickname or actor.name}}</a>
        {{action|capitalize}}&nbsp; 
        <a href={{url_for('main.%s' % content[0], id=content[1].id)}}> {{content[2]|truncate(256)}}</a>
        <br>
        {% set q = content[1] %}
        <div><p>
            {% if action in ['create','star','challenge'] %}
                {% set intro = q.intro_html or q.intro %}
                {{intro|safe|truncate(128,False,' ...',5)}}
            {% elif action in ['add','endorse','excerpt'] %}
                {% set body = q.body_html or q.body %}
                {{body|safe|truncate(128,False,' ...',5)}}
            {% endif %}
        </p></div>
    </div>
    <div class="col-md-2 text-left">
        <a href={{url_for('main.profile', id=actor.id)}}><img src="{{actor.avatar or url_for('static', filename='pic/profile.svg')}}" class="img-circle" style="width:40px" alt="avatar"></a>
    </div>
</div>
{% else %}
<div>
    {{action|capitalize}}&nbsp; 
    <a href={{url_for('main.%s' % content[0], id=content[1].id)}}> {{content[2]|truncate(256)}}</a>
</div>
{% endif %}
<p style="color:darkolivegreen">{{moment(ev.timestamp).fromNow()}}</p>
<hr>
{% endfor %}