{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} Add Item {% endblock title %}

{% block content %}
<div>
    <h4>Add Item</h4>
    <p>for Readup List:&nbsp;<a href={{url_for('main.goback_edit', id=post.id)}} title="Go back will give up edit">&nbsp;{{post.title|truncate(50)}}...</a></p>
</div>
<hr>
<div>
    <form class="form" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.selectdone)}}
        {{wtf.form_field(form.tips)}}
        {{wtf.form_field(form.submit)}}
    </form>
    <br>
    <h4>or You can <a href={{url_for('main.done_to_check',id=post.id)}}>Add other Item (not get Done yet)</a></h4>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}

{% block rightside %}

<br><br><br><br><br><br><br><br><br><br><br><br><br>
<a target="_blank" href={{url_for('main.about')}}#markdown>Markdown Quick Reference</a>
{% endblock rightside %}