<div id="Bottom">
    <div id="BottomMain">
        <strong><a href="{{url_for('main.index')}}">About</a></strong>
        &nbsp; | &nbsp; <strong><a href="{{url_for('main.index')}}">Terms</a></strong>
        &nbsp; | &nbsp; <strong><a href="{{url_for('main.index')}}">Help</a></strong> 
        &nbsp; | &nbsp; <strong><a href="{{url_for('main.index')}}">Contact</a></strong>
        &nbsp; | &nbsp; <strong><a href="{{url_for('main.index')}}" target="_blank">Blog</a></strong>
    </div>

    <div>
        <script>
            (function() {
                var cx = '008008123130538455794:gu3s6owjuoo';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
    </div>

</div>