{% extends "layout1.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
<script src="{{url_for('static', filename='ck/ckeditor/ckeditor.js')}}"></script>
{% endblock head %}

{% block title %} Readup.Tips - Challenge {% endblock title %}

{% block content %}

<div>
    <button id="showform" class="btn btn-primary btn-block">
        Post Clips Here
    </button>
    <script>
    $(document).ready(function(){
        $("#showform").click(function(){
            $("#clip").toggle();
        });
    });
    </script>
    <div>
        <form id="clip" class="form" style="display:none" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.body, class="ckeditor")}}
        {{wtf.form_field(form.resource)}}
        {{wtf.form_field(form.submit)}}
        </form>
    </div>
    <hr>

    <!--Show comments-->
    <div>
        <hr>
        {% for commt in mycomments %}
        {% include '_show_comment.html' %}
        {% endfor %}

        <div class="text-right">
            {% if count_my > m %}
            <a href={{url_for('main.myclips',id=current_user.id)}} target="_blank">
                More
            </a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}

{% block rightside %}
<div>
    {% if post_chal  %}
    <p>I am Challenging :<br>
       <h4><a href={{url_for('main.post',id=post_chal.id)}}>
           {{post_chal.title}}</a></h4> 
    </p>
    <div>
        <p id="deadline">
            Deadline: &nbsp;
            {% if chal_post.deadline %}
            {{moment(chal_post.deadline).format("MMM Do YYYY")}}<br>
            Countdown: &nbsp;{{moment(chal_post.deadline).fromNow()}}
            {% else %} not set
            {% endif %}
        </p>    
    </div>
    <hr>
    <h4>Including items:</h4>
    {% for item in items  %}
    -- {{item.cate}}
    <a href={{url_for('main.item',id=item.id)}}>{{item.title|truncate(60)}}</a><br>
    {% endfor %}
    <hr>
    <form class="form-inline" method="POST">
        {{form2.hidden_tag()}}
        {{wtf.form_field(form2.deadline)}}
        {{wtf.form_field(form2.submit)}}
    </form>
    <hr>
    {% endif %} 
</div>

<div>
    <h4>Tips</h4>
    <p>You can post some clips, inspiration here as a memo 
        or to track your reading process</p>
</div>
<hr>
<a href={{url_for('main.allclips')}} target="_blank">See More other clips</a>
{% endblock rightside %}