{% extends "layout0.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
<script src="{{url_for('static', filename='ck/ckeditor0/ckeditor.js')}}"></script>
{% endblock head %}

{% block title %} Post a Comment {% endblock title %}

{% block content %}

<div class="container-fluid">
    <h4>Post Your Comment</h4>
    <p>
        {% if mark %}
        On item &nbsp; 
        <a href={{url_for('main.item',id=onsth.id)}}>{{onsth.title|truncate(45)}}</a>
        {% else %}
        On post &nbsp; 
        <a href={{url_for('main.post',id=onsth.id)}}>{{onsth.title|truncate(45)}}</a>
        {% endif %}
    </p>
    <div>
        <form class="form" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.body, class="ckeditor")}}
        {{wtf.form_field(form.submit)}}
        </form>
    </div>
    <hr>
</div>

{% endblock content %}