{% extends "layout0.html" %}

{% block title %} Connect {% endblock title %}

{% block content %}

<div class="text-center">
    <div>
        <h4>Please login, You can Connect With:</h4>
    </div>
    <hr>
    <div class="btn btn-group-vertical">
        <a href="{{url_for('auth.login', server_name='Google')}}" class="btn btn-lg btn-danger">
            &nbsp;&nbsp;<b>Connect With Google</b>&nbsp;&nbsp;
        </a><br>
        <a href="{{url_for('auth.login', server_name='Facebook')}}" class="btn btn-lg btn-primary">
            &nbsp;&nbsp;<b>Connect With Facebook</b>&nbsp;&nbsp;
        </a><br>
        <a href="{{url_for('auth.login', server_name='Twitter')}}" class="btn btn-lg btn-info">
            &nbsp;&nbsp;<b>Connect With Twitter</b>&nbsp;&nbsp;
        </a>
    </div>
</div>

{% endblock content %}