{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} Create Post {% endblock title %}

{% block content %}
<div>
    <h4>Create New Post</h4>
</div>
<hr>
<div>
    <form class="form" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.title)}}
        {{wtf.form_field(form.tag)}}
        {{wtf.form_field(form.rating, class="inline")}}
        {{wtf.form_field(form.editable, class="inline")}}
        {{wtf.form_field(form.credential)}}
        {{wtf.form_field(form.intro)}}
        {{wtf.form_field(form.submit)}}
    </form>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}

{% block rightside %}
<h5>Tips</h5>
<hr>
<p>A post is an items list, including preface, items and tips for each item, 
    <br>
    First, give a title, preface, set tags to create post<br>
    Then add items and tips to post, tips can be reading tips, recommendation, etc.
    <br><br>
    You can set the post can be modified by someone you approved as contributors or even everyone,
    you can change this setting at your convenience.
</p>

<br>
<a target="_blank" href={{url_for('main.about')}}#markdown>Markdown Quick Reference</a>

{% endblock rightside %}