{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %} {{demand.body}} {% endblock title %}

{% block leftside %}
{% include '_tag_side.html' %}

{% endblock leftside %}

{% block content %}
<div>
    {% include '_show_demand.html' %}
</div>

{% if demand.posts.count() > 0 %}
<div>
    <div class="text-left">
        <span><b>The Posts answer This Request:</b></span>
    </div>
    <br>
    {% for respon in demand.posts %}
    -- <a href={{url_for('main.post', id=respon.post.id)}}>{{respon.post.title|truncate(90)}}</a><br>
    {% endfor %}
</div>
<hr>
{% endif %}

<div>
    {{wtf.quick_form(form)}}
    <hr>
    {% set commts = comments %}
    {% include '_show_comment.html' %}
</div>
{% if pagination and pagination.pages > 1 %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, '.demand',id=demand.id) }}
</div>
{% endif %}

{% endblock content %}

{% block rightside %}

{% endblock rightside %}
