{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Edit Tag Description {% endblock title %}

{% block content %}
<div>
    <p>Edit Description of Tag&nbsp;&nbsp;<a href={{url_for('main.tag', id=tag.id)}}>{{tag.tag}}</a></p>
</div>
<hr>
<div>
    <form class="form" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.tag)}}
        {{wtf.form_field(form.parent)}}
        {{wtf.form_field(form.descript)}}
        {{wtf.form_field(form.submit)}}
    </form>
</div>
{% endblock content %}