{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
<script src="{{url_for('static', filename='ck/ckeditor/ckeditor.js')}}"></script>
{% endblock head %}

{% block title %} Edit Article {% endblock title %}

{% block content %}
<div>
    <h4>Edit Tips</h4>
    <p>for item 
        <a href={{url_for('main.item', id=item.id)}}, target="_blank">{{item.title|truncate(30)}}</a> 
        in post 
        <a href={{url_for('main.post', id=post.id)}}>{{post.title|truncate(30)}}</a>
    </p>
</div>
<div>
    <form class="form" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.order)}}
        {{wtf.form_field(form.tips, class="ckeditor")}}
        {{wtf.form_field(form.submit)}}
    </form>
</div>
<hr>

<div>
    <p>Or &nbsp;<a data-toggle="modal" href="#deltips">delete</a>&nbsp;&nbsp;Tips</p>          
    <!-- Modal for delete Tips confirm -->
    <div class="modal fade" id="deltips" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Delete The Tips?</h4>
                </div>
                <div class="modal-body">
                    <a href={{url_for('main.del_tips',id=tip_c.id)}}>
                        Yes Delete
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal for delete Tips confirm -->
</div>
{% endblock content %}