{% extends "layout0.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} Edit Review {% endblock title %}

{% block content %}

<div>
    <p>Edit Review&nbsp;&nbsp;<a href={{url_for('main.review',id=review.id)}}>{{review.heading|truncate(50)}}</a></p>
</div>
<hr>
<div>
    <form class="form" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.heading)}}
        {{wtf.form_field(form.body)}}
        {{wtf.form_field(form.submit)}}
    </form>
</div>

{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}

{% block rightside %}
<a target="_blank" href={{url_for('main.about')}}#markdown>Markdown Quick Reference</a>
{% endblock rightside %}