{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Add Information for Item {% endblock title %}

{% block content %}
<div>
    <h4>Add Information </h4>
    <p>{% if item %}for Item&nbsp;&nbsp;<a href={{url_for('main.item', id=item.id)}}>{{item.title|truncate(50)}}</a>{% else %}for new item{% endif %}</p>
</div>
<hr>
<div>
    <form class="form" method="POST">
        {{form.hidden_tag()}}
        {{wtf.form_field(form.cate, class="inline")}}
        {{wtf.form_field(form.title)}}
        {{wtf.form_field(form.uid)}}
        {{wtf.form_field(form.author)}}
        {{wtf.form_field(form.cover)}}
        {{wtf.form_field(form.language)}}
        {{wtf.form_field(form.publisher)}}
        {{wtf.form_field(form.pub_date)}}
        {{wtf.form_field(form.res_url)}}
        {{wtf.form_field(form.binding)}}
        {{wtf.form_field(form.page)}}
        {{wtf.form_field(form.level)}}
        {{wtf.form_field(form.price)}}
        {{wtf.form_field(form.itag)}}
        {{wtf.form_field(form.details)}}
        {{wtf.form_field(form.submit)}}
    </form>
</div>
{% endblock content %}