{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Edit User Profile {% endblock title %}

{% block content %}
<div>
    <h4>Welcome, <mark>{{current_user.nickname or current_user.name}}</mark>,
    You are Logged in Now</h4>
    <p>Please add more information about you，Of course you can skip this, 
        then go to any page you would like or 
        start to <a href ="{{url_for('main.create')}}">create new article</a>.
    </p>    
</div>
<hr>
<div>
    {{wtf.quick_form(form)}}
</div>
{% endblock content %}