{% extends "layout0.html" %}
{% import "_macros.html" as macros %}

{% block title %} Readup.Tips -- Recommendation from Experts{% endblock title %}

{% block leftside %} {% include '_tag_side.html' %} {% endblock leftside %}

{% block content %}

<div class="text-left">
    <h4>Recommendation from Experts</h4>
</div>
<hr>
<div id="famous">
    {% for post in posts_ref %}
    {% include '_post_list.html' %}
    {% endfor %}
</div>

{% if pagination and pagination.pages > 1 %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, '.famous') }}
</div>
{% endif %}

{% endblock content %}

{% block rightside %}
<h4><a href ={{url_for('main.create',ref='expert')}}>Start A Collection</a></h4>
<hr>
<h5>Tips</h5>
<p>Here Collect some Recommendation from Experts on specific area or famous people
    <br><br>
    Everyone can add/edit the recommendation List. As a wiki-like feature, 
    the reference is required for any recommendation. 
    the reference can be full or short citation with a reliabale source.
</p>
{% endblock rightside %}