{% extends "layout0.html" %}

{% block title %} Readup.Tips -- Share and Challenge to Read up on Anything{% endblock title %}

{% block leftside %}
{% include '_tag_side.html' %}

{% endblock leftside %}

{% block content %}

<div class="text-center">
    <!-- <h3>The Tips for Reading up on Something</h3> -->
    <h4>Share the Challenging, Challenge the Sharing, 
        <a href ="{{url_for('main.create')}}">Create Now</a>
    </h4>
    <hr class="colored" />
</div>

<!--Show some digest -->
<div id="select">
    <br>
    {% for post in posts_select %}
    {% include '_post_list.html' %}
    {% endfor %}
</div>

<div class="text-center">
    <h4>Want to Share or Challenge a Reading List?  Welcome to
        <a href ="{{url_for('auth.connect')}}">Join in</a> ...
    </h4>
</div>

{% endblock content %}

{% block rightside %}
{% include '_connect_side.html' %}
{% include '_rand_side.html' %}
{% endblock rightside %}
