{% extends "layout0.html" %}

{% block title %} Readup.Tips - Home of Lifelong Learners, Share and Challenge Read up List {% endblock title %}

{% block leftside %}
{% include '_tag_side.html' %}

{% endblock leftside %}

{% block content %}

<div class="text-center">
    <!-- <h3>The Tips for Reading up on Something</h3> -->
    <h4>Share the Challenging, Challenge the Sharing, 
        <a href ="{{url_for('main.create')}}">Create Now</a>
    </h4>
    <hr class="colored" />
</div>

<!--Show some digest -->
<div id="select">
    <br>
    {% for post in posts_select %}
    {% include '_post_list.html' %}
    {% endfor %}
</div>

{% endblock content %}

{% block rightside %}
{% include '_connect_side.html' %}
{% include '_rand_side.html' %}
{% endblock rightside %}
