{% extends 'layout1.html' %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{item.title}} {% endblock title %}

{% block content %}
<div>
    {% include '_show_item_0.html' %}
    <hr>
    <a href={{url_for('main.edit_item',id=item.id)}}>Add more information</a>
    <br><br>
    <p>
       {% if item.res_url %}
       Resource&nbsp;:&nbsp;<a href={{item.res_url}}>link</a><br>
       {% endif %}
       Translator&nbsp;:&nbsp;{{item.translator or '---' }}<br>
       Language&nbsp;:&nbsp;{{item.language or '---' }}<br>
       Publisher&nbsp;:&nbsp;{{item.publisher or '---' }}<br>   
    </p>
    <hr>
    <mark>More Details</mark><br>
    {{ item.details|safe or 'no details, you can help add more info'}}
    
    <hr>
    <a href={{url_for('main.add_review',id=item.id)}}>Post your review</a>
    <hr>
    <!--Show review-->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#latest">Latest Review</a></li>
        <li><a data-toggle="tab" href="#hot">Hot Review</a></li>
    </ul>
    <div class="tab-content">
        <div id="latest" class="tab-pane fade in active">
            <br>
            {% for review in review_latest %}
            {% include '_review_list.html' %}
            {% endfor %}

            <div class="text-right">
                {% if count_review > m %}
                <a href={{url_for('main.morereview',id=item.id)}} target="_blank">More</a>
                {% endif %}
            </div>
        </div>
        
        <div id="hot" class="tab-pane fade">
            <br>
            {% for review in review_hot %}
            {% include '_review_list.html' %}
            {% endfor %}

            <div class="text-right">
                {% if count_review > m %}
                <a href={{url_for('main.morehot',id=item.id)}} target="_blank">More</a>
                {% endif %}
            </div>
        </div>
    </div>

    <hr>
    <a href={{url_for('main.add_item_comment',id=item.id)}}>Post your comment</a>
    <hr>
    <!--Show comments-->
    <div>
        {% set commts = comments %}
        {% include '_show_comment.html' %}
        
        <div class="text-right">
            {% if count_comment > m %}
            <a href={{url_for('main.morecomment_i',id=item.id)}} target="_blank">
                More
            </a>
            {% endif %}
        </div>

        <div class="text-left">
            {% if count_comment > 0 %}
            <a href={{url_for('main.mycomment_i',id=item.id)}} target="_blank">
                See My Comments
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block rightside %}
<div class="panel panel-success">
    <div class="panel-heading">About the Author</div>
    <div class="panel-body">
        <p>Search information about the Author</p>
        <hr>
        <a href="https://www.google.com/search?q={{item.author}}" target="_blank">
           More about the Author
        </a>
    </div>
</div>

<div>
    <h5>The item included in&nbsp;{{item.posts.count()}}&nbsp;Posts</h5>
    <hr>
    {% for post in posts %}
    --
    <a href={{url_for('main.post',id=post.id)}}>
        {{post.title|truncate(50)}}
    </a><br>
    {% endfor %}    
</div>

{% endblock rightside %}
