{% extends 'layout0.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} Add Item to Readup List {% endblock title %}

{% block content %}
<div>
    <h4>Add Item to Readup List</h4>
    <p>Add item&nbsp;<a href={{url_for('main.item', id=item.id)}}>{{item.title|truncate(50)}}</a>&nbsp;to a Selected list</p>
</div>
<hr>
<div>
    <form class="form" method="POST">
        {{form.hidden_tag()}}  
        {{wtf.form_field(form.selectlist,id="selectedalist")}} 
        {{wtf.form_field(form.tips)}}
        {{wtf.form_field(form.submit)}}
    </form>
    <!--script start-->
    <script>
    $(document).ready(function(){
        $("#selectedalist").change(function(){
            $.get('/lockselected/' + $("#selectedalist").val());
        });
    });
    </script>
    <!--script end-->
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}

{% block rightside %}
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<a target="_blank" href={{url_for('main.about')}}#markdown>Markdown Quick Reference</a>
{% endblock rightside %}