{% extends "layout1.html" %}
{% import "_macros.html" as macros %}

{% block title %} More comments {% endblock title %}

{% block content %}

<div class="container-fluid">
    <h4>See More comments</h4>
    <p>for post&nbsp;&nbsp;
        <a href={{url_for('main.post', id=post.id)}}>{{post.title|truncate(50)}}</a>
    </p>
    <hr>
    {% for commt in comments %}
       {% include '_show_comment.html' %}
    {% endfor %}

</div>
{% if pagination and pagination.pages > 1 %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, '.morecomment_p',id=post.id) }}
</div>
{% endif %}

{% endblock content %}

{% block rightside %}
<h4>Who Challenging This Post:</h4>
<hr>
{% for user in challengers %}
<div class="text-left">
{% include '_show_user.html' %}
</div>
{% endfor %}

{% endblock rightside %}