{% extends "layout1.html" %}
{% import "_macros.html" as macros %}

{% block title %} More Items {% endblock title %}

{% block content %}

<div class="container-fluid">
    <h4>See More Items  
        <a href={{url_for('auth.profile', id=user.id)}}>{{user.nickname or user.name}}</a>
        {{ref}}
    </h4>
    <hr>
    {% for item in items %}
       {% include '_show_item_0.html' %}
       <hr>
    {% endfor %}

</div>
{% if pagination and pagination.pages > 1 %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, endpoint,id=user.id) }}
</div>
{% endif %}

{% endblock content %}