{% extends "layout1.html" %}
{% import "_macros.html" as macros %}

{% block title %} More comments {% endblock title %}

{% block content %}

<div class="container-fluid">
    <h4>See More comments</h4>
    {% if user %}
    <p>by myself</p>
    {% endif %}
    <p>for item&nbsp;&nbsp;
        <a href={{url_for('main.item', id=item.id)}}>{{item.title|truncate(50)}}</a>
    </p>
    <hr>
    {% for commt in comments %}
       {% include '_show_comment.html' %}
    {% else %}
       <p>Nothing by you,  now post your
           <a href={{url_for('main.add_item_comment',id=item.id)}}>Comment</a> or
           <a href={{url_for('main.add_review',id=item.id)}}>Review</a>
        </p>
    {% endfor %}

</div>
{% if pagination and pagination.pages > 1 %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, '.morecomment_i',id=item.id) }}
</div>
{% endif %}

{% endblock content %}

{% block rightside %}

{% endblock rightside %}