{% extends "layout1.html" %}
{% import "_macros.html" as macros %}

{% block title %} More Posts {% endblock title %}

{% block content %}

<div class="container-fluid">
    <h4>See More Posts {{ref}} by 
        <a href={{url_for('auth.profile', id=user.id)}}>{{user.nickname or user.name}}</a>
    </h4>
    <hr>
    {% for post in posts %}
       {% include '_post_list.html' %}
    {% endfor %}

</div>
{% if pagination and pagination.pages > 1 %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, endpoint,id=user.id) }}
</div>
{% endif %}

{% endblock content %}