{% extends "layout1.html" %}
{% import "_macros.html" as macros %}

{% block title %} More Reviews {% endblock title %}

{% block content %}

<div>
    {% if ref=='user' %}
    <h4>See More Reviews By
        <a href={{url_for('main.profile', id=user.id)}}>{{user.nickname or user.name}}</a>
    </h4>
    {% else %}
    <h4>See More {{ref}} Reviews On
        <a href={{url_for('main.item', id=item.id)}}>{{item.title}}</a>
    </h4>
    {% endif %}
    <hr>
    {% for review in reviews %}
       {% include '_review_list.html' %}
    {% endfor %}
</div>
{% if pagination and pagination.pages > 1 %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, endpoint,id=item.id if item else user.id) }}
</div>
{% endif %}

{% endblock content %}