{% extends 'layout1.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} {{post.title}} {% endblock title %}

{% block content %}
<!--post header-->
<div>
    <div class="text-left">
        {% for tag in post.tags %}
        <span>
            <a class="text-success" href={{url_for('main.tagcollect',id=tag.id)}}>
                {{tag.tag}} 
            </a> &nbsp; 
        </span>
        {% endfor %}
        <span>&nbsp;&nbsp;<a href={{url_for('main.edit_tag_str',id=post.id)}}>Edit</a></span>
    </div>
    <h3>{{post.title}}</h3>
    <p> Created by <a href={{url_for('auth.profile', id=post.creator.id)}}>
        {{post.creator.nickname or post.creator.name}}</a> 
        &nbsp;|&nbsp;{{moment(post.timestamp).format("MMM Do YYYY")}}&nbsp;|&nbsp;
        including&nbsp; {{post.items.count()}}&nbsp; items
    </p>
    <hr>
</div>
<div style="font-size:medium">
    {% set post_intro = post.intro_html or post.intro %}
    {{post_intro|safe}}
</div>
<br>
<!--post toolbar widget-->
<div class="text-right" style="background-color:#f3f3f3">
    {% if current_user == post.creator %}
    <span><a data-toggle="modal" href="#delpost">Delete</a></span>
    &nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endif %}
    
    {% if post.update and post.timestamp != post.update  %}
    Update:&nbsp;{{moment(post.update).format("MMM Do YYYY")}}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}

    {% if display %} 
    <span><a href={{url_for('main.edit_post',id=post.id)}}><b>Edit</b></a></span>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a href={{url_for('main.check_item',id=post.id)}}><b>Add Item</b></a></span>
    &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    {% endif %}
    
    <span id="actstar">
        <a id="count"><b>{{post.starers.count()}}</b></a>&nbsp;
        <a id="star" class="btn btn-info btn-xs"><b>
            {% if current_user.staring(post) %} 
            Staring 
            {% else %} 
            Star 
            {% endif %} 
        </b></a>      
    </span>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span id="chall">
        <a id="num" href={{url_for('main.morecomment_p',id=post.id)}}>
            <b>{{post.challengers.count()}}</b>
        </a>&nbsp;
        <a id="challenge" class="btn btn-info btn-xs"><b>
            {% if current_user.challenging(post) %} 
            Challenging 
            {% else %} 
            Challenge 
            {% endif %} 
        </b></a>
    &nbsp;&nbsp;     
    </span>

    <!--script start-->
    <p id="starUrl" style="display:none">{{url_for('main.countstar', id=post.id)}}</p>
    <p id="chalUrl" style="display:none">{{url_for('main.countchallenge', id=post.id)}}</p>
    <script>
    $(document).ready(function(){
        // for star
        $("a#star").click(function(){
            $.get($("#starUrl").text(), function(data){                
                var old = $("#star").text();
                $("#star").text(function(){
                    if (old == "Staring"){
                        return "Star" ;
                    } else {
                        return "Staring"; 
                    }
                });
                $("#count").text(data);
            });
        });
        // for challenge
        $("a#challenge").click(function(){
            $.get($("#chalUrl").text(), function(data){
                var pre = $("#challenge").text();                
                $("#challenge").text(function(){
                    if (pre == "Challenging"){
                        return "Challenge";
                    } else {
                        return "Challenging";
                    } 
                });
                $("#num").text(data);
            });
        });
    });
    </script>
    <!--script end-->

</div>
<hr>
<!--items included in post-->
<div class="panel-group">
    {% for item in items %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% include '_show_item_1.html' %}
        </div>
        <div class="panel-body" style="font-size:medium">
            <!--tips_c is collects, by item.id get tip-collect-object then get tip content--> 
            {% set tip_c = tips_c[item.id] %}
            {% set tips_body = tip_c.tips_html or tip_c.tips %}  <!--now, tip_c is collect obj, and tips is attr-->     
            {{ tips_body|safe }}  

            <div class="text-right">   
                <!--then get tip_c.id, ie collect.id-->
                {% if display %}
                <span>
                    <a href={{url_for('main.edit_tips',id=tip_c.id)}}>Edit Tips</a>  
                </span>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="panel-foote text-right">
            <!-- <p>How to buy? -- </p> -->
        </div>   
    </div>
    {% endfor %}
    <br>
    <!--share widgets-->
    {% include '_share.html' %}
</div>
<!--show comments -->
<div>
    <a href={{url_for('main.add_post_comment',id=post.id)}}>Post your comment</a>
    {% set commts = comments.limit(m)  %}
    {% include '_show_comment.html' %}

    <div class="text-center">
        {% if comments.all()|count > m %}
        <a href={{url_for('main.morecomment_p',id=post.id)}} target="_blank">More</a>
        {% endif %}
    </div>
</div>

<!-- Modal for delete post confirm -->
<div class="modal fade" id="delpost" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Delete The Post?</h4>
            </div>
            <div class="modal-body">
                <a href={{url_for('main.del_post',id=post.id)}}>
                   Yes Delete
                </a>
                <p>NOTE: Cannot be delteted,if The Post has being stared or challenged by any user</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end Modal for delete post confirm -->

<!--reserved-->
<div>
</div>
{% endblock content %}

{% block rightside %}

<!-- about creator -->
<div class="panel panel-success">
    <div class="panel-heading">Creator's Credentials for This Post</div>
    <div class="panel-body">
        <blockquote>{{post.credential}}</blockquote>
        <hr>
        <mark>More by the Creator</mark>
        <hr>
        {% for other in posts %}
        -- <a href={{url_for('main.post', id=other.id)}}>{{other.title|truncate(60)}}</a><br>
        {% endfor %}

        <div class="text-right">
            {% if posts_count > m %}
            <a href={{url_for('main.morepost',id=post.creator.id)}} target="_blank"> -- More</a>
            {% endif %}
        </div>
    </div>
</div>

<!-- link to demand -->
{% if post.demands.count() > 0 %}
<div>
    <h5>As a response to Request(s):</h5>
    {% for respon in post.demands %}
    --&nbsp;<a href={{url_for('main.demand',id=respon.demand.id)}}>{{respon.demand.body|truncate(60)}}</a><br>
    {% endfor %}
</div>
<hr>
{% endif %}

<!-- show approve disable contributors -->
{% if post.editable == 'Contributors' %}
<hr>
<div>
    <div class="text-left">
        <span><b>Current Other Contributors</b></span>
        {% if current_user != post.creator and current_user not in contributors %}
        &nbsp;&nbsp;>>&nbsp;
        <span><a href={{url_for('main.apply_contributor', id=post.id)}}>Apply</a></span>
        {% endif %}
    </div>
    <hr>
    {% for contribute in contributes %}
    {% if contribute.disabled == False %}
    <div class="text-left">
        <span>   
        <a href={{url_for('auth.profile', id=contribute.contributor.id)}}>
            {{ contribute.contributor.nickname or contribute.contributor.name }}
        </a>
        </span>   
    {% if current_user == post.creator %}
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <span>
            <a href={{url_for('main.disable_contributor',id=contribute.id)}}>
                <mark>Disable</mark>
            </a>
        </span>
    {% endif %}
    </div>
    <br>
    {% endif %}
    
    {% if contribute.disabled == True and current_user == post.creator %}
    <div>
        <span>   
        <a href={{url_for('auth.profile', id=contribute.contributor.id)}}>
            {{ contribute.contributor.nickname or contribute.contributor.name }}
        </a>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <span>
            <a href={{url_for('main.approve_contributor',id=contribute.id)}}>
                <mark>Approve</mark>
            </a>
        </span>   
    </div>
    <br>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock rightside %}
