{% extends 'layout1.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %} {{review.heading}} {% endblock title %}

{% block content %}

<div>  
    <h3>{{review.heading}}</h3>
    <p> Created by <a href={{url_for('auth.profile', id=review.creator.id)}}>
        {{review.creator.nickname or review.creator.name}}</a>
        for item
        <a href={{url_for('main.item', id=review.item.id)}}>
        {{review.item.title|truncate(40)}}</a> 
        &nbsp;|&nbsp; 
        {{moment(review.timestamp).format("MMM Do YYYY")}},&nbsp;
    </p>
    <hr>
</div>
<div style="font-size:medium">
    {% set review_body = review.body_html or review.body %}
    {{review_body|safe}}
</div>
<hr>
<div class="text-right">
    {% if current_user == review.creator %}
    <span>
        <a href={{url_for('main.edit_review',id=review.id)}}>Edit</a>
    </span>
    {% endif %}
    &nbsp;&nbsp;&nbsp;      
    <span>{{review.vote}}&nbsp;
        <a href={{url_for('main.endorse',id=review.id)}}>Endorse</a>
    </span>
</div>
<!--show comments -->
<div>
    {{wtf.quick_form(form)}}
    <hr>
    <!--share widgets-->
    {% include '_share.html' %}
    <!--show comments-->
    {% set commts = comments %}
    {% include '_show_comment.html' %}
</div>
{% if pagination and pagination.pages > 1 %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, '.review',id=review.id) }}
</div>
{% endif %}

{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts %}

{% block rightside %}
<a target="_blank" href={{url_for('main.about')}}#markdown>Markdown Quick Reference</a>
{% endblock rightside %}
